<div class="footer">
  <div class="panel-footer">
    <dl>
      <dd>
        <a href="#">Главная</a>
      </dd>
      <dd>
        <a href="#">Публикации</a>
      </dd>
    </dl>
    <dl>
      <dt>
        Продукт
      </dt>
      <dd>
        <a href="#">Осознанность</a>
      </dd>
      <dd>
        <a href="#">Возврат в жизнь</a>
      </dd>
      <dd>
        <a href="#">Раскрытие возможностей</a>
      </dd>
    </dl>
    <dl>
      <dt>
        Галерея
      </dt>
      <dd>
        <a href="#">Фото</a>
      </dd>
    </dl>
    <dl>
      <dt>
        Медиа
      </dt>
      <dd>
        <a href="#">Фото</a>
      </dd>
    </dl>
    <dl>
      <dt>
        Видео
      </dt>
      <dd>
        <a href="#">Ролики</a>
      </dd>
      <dd>
        <a href="#">Новости</a>
      </dd>
      <dd>
        <a href="#">События</a>
      </dd>
    </dl>
    <dl>
      <dt>
        Контакты
      </dt>
      <dd>
        <a href="#">Адресс</a>
      </dd>
    </dl>
  </div>
</div>