<div class="news">

  <div class="unit-rubric__head" id="news_first"><a href="#">Свежий взгляд
    <span class="glyphicon glyphicon-share-alt"></span></a></div>

  <div style="clear: both; float:left; padding: 5px 5px">
    <a href="#">
      <img src="../img/news/news.jpg" />
    </a>
  </div>
      <span>
        <a href="#">
          Ваш выбор способа центрации зависит только от вашего вкуса.
        </a>
      </span>

  <hr/>
  <div style="clear: both; float:left; padding: 5px 5px">
    <a href="#">
      <img src="../img/news/news.jpg" />
    </a>
  </div>
      <span>
        <a href="#">
          Ваш выбор способа центрации зависит только от вашего вкуса.
        </a>
      </span>

  <hr/>
  <div style="clear: both; float:left; padding: 5px 5px">
    <a href="#">
      <img src="../img/news/news.jpg" />
    </a>
  </div>
      <span>
        <a href="#">
          Ваш выбор способа центрации зависит только от вашего вкуса.
        </a>
      </span>

  <div class="unit-rubric__head"><a href="#">Погода
    <span class="glyphicon glyphicon-share-alt"></span></a></div>

  <div style="clear: both; float:left; padding: 5px 5px">
    <a href="#">
      <img src="../img/news/news.jpg" />
    </a>
  </div>
      <span>
        <a href="#">
          Ваш выбор способа центрации зависит только от вашего вкуса.
        </a>
      </span>

  <hr/>
  <div style="clear: both; float:left; padding: 5px 5px">
    <a href="#">
      <img src="../img/news/news.jpg" />
    </a>
  </div>
      <span>
        <a href="#">
          Ваш выбор способа центрации зависит только от вашего вкуса.
        </a>
      </span>

  <hr/>
  <div style="clear: both; float:left; padding: 5px 5px">
    <a href="#">
      <img src="../img/news/news.jpg" />
    </a>
  </div>
      <span>
        <a href="#">
          Ваш выбор способа центрации зависит только от вашего вкуса.
        </a>
      </span>


</div>

